@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: "Poppins", sans-serif;
    background: #fafafa;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    /*transition: all 0.3s;*/
}


.sidebar {
    background: #08415C;
    color: #fff;
    /*transition: all 0.5s;*/
}

.sidebar.is-open {
    margin-left: 0;
    /*transition: 0.5s;*/
}

.sidebar-header {
    background: #08415C;
    min-height: 40px;
}

.sidebar-header h3 {
    color: #fff;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    /*padding-top: 20px;*/
    /*padding-bottom: 7px;*/
}

.sidebar ul p {
    color: #fff;
    padding: 10px;
}

.menu-open {
    background: #08415C;
}

.nav-item:hover {
    color: #08415C;
    background: #fff;
    margin-left: 10px;
    margin-right: 10px;
}

.items-menu {
    color: #fff !important;
    background: #08415C;
}

li a.dropdown-toggle::after {
    display: inline-flex;
    position: relative;
    top: 5%;
}

.sidebar-header > span {
    position: relative;
    float: right;
    margin: 0.5em;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

@media (min-width: 576px) {
    .side-menu {
        height: calc(100vh - 80px);
    }
}

@media (min-width: 576px) {
    .logout-button {
        position: fixed;
        bottom: 0;
    }
}

.logout-button {
    cursor: pointer;
    color: #5886d1;
    margin-bottom: 10px;
}

.logout-button:hover {
    color: #08415C;
    background: #fff;
}

.side-menu::-webkit-scrollbar {
    width: 10px;
}

.side-menu::-webkit-scrollbar-thumb {
    background: #08415C;
    border-radius: 3px;
}

.side-menu::-webkit-scrollbar-thumb:hover {
    background: #08415C;
}

.menu-item {
    color: #5886d1;
}

::-webkit-scrollbar {
    width: 0 !important;
}

body.modal-open .modal-container {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.btn-close {
    display: none;
}

.blurry-text {
    filter:blur(4px);
}